<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <nav>
    <ul>
        <li>
            <a href='{{url_for("colorpage",bgcolor="blue")}}'>blue</a>
        </li>
        <li>
            <a href='{{url_for("colorpage",bgcolor="red")}}'>red</a>
        </li>
        <li>
            <a href='{{url_for("colorpage",bgcolor="green")}}'>green</a>
        </li>
        <li>
            <a href='{{url_for("colorpage",bgcolor="yellow")}}'>yellow</a>
        </li>
    </ul>
</nav>
</body>
</html>